doctype html
html(lang="en")
    head
        title New info
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p User: #{userEmail}
            p Favorite Book: #{favoriteBook}
            form(method="POST")
                label(for="name") Name
                label(for="favoritetoy") Favorite Toy
                label(for="type") Type
                input(type="text" name="name" required)
                input(type="text" name="favoritetoy" required)
                input(type="text" name="type" required)
                input(type="submit" value="Submit")