doctype html
html(lang="en")
    head
        title Update Custom Object Form | Integrating With HubSpot I Practicum
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            p User:
            p Return to the homepage #[a(href=`/`) here]
            form(method="POST")
                label(for="name") Name
                input(type="text" name="name" required)
                label(for="favoritetoy") Favorite Toy
                input(type="text" name="favoritetoy" required)
                label(for="type") Type
                input(type="text" name="type" required)
                input(type="submit" value="Submit")